In [216]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

import seaborn as sns

url =  "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url, header=None)

In [217]:
# show first n rows of the dataset
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [218]:
# adding headers to our file
headers = ["symboling", "normalized-losses", "make", "fuel-type","aspiration","num-of-doors", "body-style", "drive-wheels", "engine-location", "wheel-base: continuous","length" ,"width", "height", "curb-weight", "engine-type", "num-of-cylinders","engine-size", "fuel-system", "bore", "stroke", "compression-ratio","horsepower", "peak-rpm", "city-mpg","highway-mpg", "price"]

df.columns = headers

df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base: continuous,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [219]:
# exporting pandas data frame to csv

path =  "/Users/vaibhavigaekwad/Documents/GitHub/Data-Analysis-with-Python-By-IBM/automobile.csv"
df.to_csv(path)

In [24]:
# pandas libraries used to get an overview of the dataset

#firstly check data types
df.dtypes

symboling                   int64
normalized-losses          object
make                       object
fuel-type                  object
aspiration                 object
num-of-doors               object
body-style                 object
drive-wheels               object
engine-location            object
wheel-base: continuous    float64
length                    float64
width                     float64
height                    float64
curb-weight                 int64
engine-type                object
num-of-cylinders           object
engine-size                 int64
fuel-system                object
bore                       object
stroke                     object
compression-ratio         float64
horsepower                 object
peak-rpm                   object
city-mpg                    int64
highway-mpg                 int64
price                      object
dtype: object

In [220]:
# statistical summary for to learn distribution of data in each column / check outliers
df.describe()

,symboling,wheel-base: continuous,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [221]:
#all columns with all data types are described
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base: continuous,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [200]:
# drop rows with NaN values in "price" column
df.dropna(subset=['price'], axis=0, inplace = True)
df[df.price != '?']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base: continuous,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [222]:
# convert unit of column "city-mpg"
df["city-mpg"] = 235/df["city-mpg"]
df.rename(columns= {"city_mpg": "city-L/100km"}, inplace= True)

In [223]:
#binning the column "price"
#df['price'] = pd.to_numeric(df['price'])
#df = df.astype({"price": int},  errors='ignore')
#float(df['price'])
bins = np.linspace(float(min(df['price'])), float(max(df['price'])),4)
group_names = ["Low", "Medium", "High"]
df["price-binned"] = pd.cut(df["price"], bins, labels=group_names, include_lowest = True)

ValueError: could not convert string to float: '?'

In [91]:
#binning the column "price"
bins = np.linspace(float(min(df['price'])), float(max(df['price'])),4)
group_names = ["Low", "Medium", "High"]
df["price-binned"] = pd.cut(df["price"], bins, labels=group_names, include_lowest = True)

ValueError: could not convert string to float: '?'

In [226]:
# encoding for categorical variable - one hot encoding
pd.get_dummies(df['fuel'])

KeyError: 'fuel'

In [227]:
#descriptive statistics for categorical variables

drive_wheels_counts = df["drive-wheels"].value_counts()
drive_wheels_counts.rename(columns = {'drive-wheels': 'value_counts'}, inplace =True)
drive_wheels_counts.index.name = 'drive_wheels'
drive_wheels_counts

drive_wheels
fwd    120
rwd     76
4wd      9
dtype: int64

In [229]:
# descriptive statistics for numeric data - boxplot
yax = df['price']
xax = df['drive-wheels']

sns.factorplot(xxaxls',yaxce', d= df=df)

SyntaxError: invalid syntax (<ipython-input-229-1c3fa359386e>, line 5)

In [231]:
df_test = df[['drive-wheels','body-style','price']]
df_test
df_grp = df_test.groupby(['drive-wheels','body-style'], as_index=False).mean()
df_grp

DataError: No numeric types to aggregate

In [233]:
sns.swarmplot(x="species",y="petal_length", data=iris)

NameError: name 'iris' is not defined

In [234]:
#heatmap

#first pivot the data
df_pivot = df_grp.pivot(index= 'drive-wheels', columns='body-style')

plt.pcolor(df_pivot, cmap='RdBlu')
plt.colorbar()
plt.show()

AttributeError: Cannot access callable attribute 'pivot' of 'DataFrameGroupBy' objects, try using the 'apply' method